// Utility - Margin
%mt-xsm {margin-top: 1.25rem;}
%mb-xsm {margin-bottom: 1.25rem;}
%ml-xsm {margin-left: 1.25rem;}
%mr-xsm {margin-right: 1.25rem;}

%mt-sm {margin-top: 2.5rem;}
%mb-sm {margin-bottom: 2.5rem;}
%ml-sm {margin-left: 2.5rem;}
%mr-sm {margin-right: 2.5rem;}

%mt-md {margin-top: 5rem;}
%mb-md {margin-bottom: 5rem;}
%ml-md {margin-left: 5rem;}
%mr-md {margin-right: 5rem;}

%mt-lg {margin-top: 7.5rem;}
.mb-lg {margin-bottom: 7.5rem;}
%ml-lg {margin-left: 7.5rem;}
%mr-lg {margin-right: 7.5rem;}

.mt-xlg {margin-top: 10rem;}
%mb-xlg {margin-bottom: 10rem;}
%ml-xlg {margin-left: 10rem;}
%mr-xlg {margin-right: 10rem;}

// Utility - Padding
%pt-xsm {padding-top: 1.25rem;}
%pb-xsm {padding-bottom: 1.25rem;}
%pl-xsm {padding-left: 1.25rem;}
%pr-xsm {padding-right: 1.25rem;}

%pt-sm {padding-top: 2.5rem;}
%pb-sm {padding-bottom: 2.5rem;}
%pl-sm {padding-left: 2.5rem;}
%pr-sm {padding-right: 2.5rem;}

%pt-md {padding-top: 5rem;}
%pb-md {padding-bottom: 5rem;}
%pl-md {padding-left: 5rem;}
%pr-md {padding-right: 5rem;}

%pt-lg {padding-top: 7.5rem;}
%pb-lg {padding-bottom: 7.5rem;}
%pl-lg {padding-left: 7.5rem;}
%pr-lg {padding-right: 7.5rem;}

%pt-xlg {padding-top: 10rem;}
%pb-xlg {padding-bottom: 10rem;}
%pl-xlg {padding-left: 10rem;}
%pr-xlg {padding-right: 10rem;}

// Effects for links
%infolinks {
    text-decoration: none;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    padding-bottom: 2px;
}

// Text Shadow
%textshadow {
    text-shadow: 2px 2px $color-black-light;
}

// Text align
%alignCenter {text-align: center;}
.alignCenter {text-align: center;}


// Flex Column
%FlexCol {
    display: flex;
    flex-direction: column;
}

// Header Height

%BigScreenHeight {
    @media only screen and (min-width: $bp-tablet) {
        height: 56rem;
    }
}

%SmallScreenHeight {
    @media only screen and (max-width: $bp-tablet) {
        height: 42rem;
    }
}