// Utility - Margin
%mt-xsm {margin-top: 1.25rem !important;}
%mb-xsm {margin-bottom: 1.25rem !important;}
%ml-xsm {margin-left: 1.25rem !important;}
%mr-xsm {margin-right: 1.25rem !important;}

%mt-sm {margin-top: 2.5rem !important;}
%mb-sm {margin-bottom: 2.5rem !important;}
%ml-sm {margin-left: 2.5rem !important;}
%mr-sm {margin-right: 2.5rem !important;}

.mt-md {margin-top: 5rem !important;}
.mb-md {margin-bottom: 5rem !important;}
%ml-md {margin-left: 5rem !important;}
%mr-md {margin-right: 5rem !important;}

%mt-lg {margin-top: 7.5rem !important;}
.mb-lg {margin-bottom: 7.5rem !important;}
%ml-lg {margin-left: 7.5rem !important;}
%mr-lg {margin-right: 7.5rem !important;}

.mt-xlg {margin-top: 10rem !important;}
%mb-xlg {margin-bottom: 10rem !important;}
%ml-xlg {margin-left: 10rem !important;}
%mr-xlg {margin-right: 10rem !important;}

// Utility - Padding
%pt-xsm {padding-top: 1.25rem !important;}
%pb-xsm {padding-bottom: 1.25rem !important;}
%pl-xsm {padding-left: 1.25rem !important;}
%pr-xsm {padding-right: 1.25rem !important;}

%pt-sm {padding-top: 2.5rem !important;}
%pb-sm {padding-bottom: 2.5rem !important;}
%pl-sm {padding-left: 2.5rem !important;}
%pr-sm {padding-right: 2.5rem !important;}

%pt-md {padding-top: 5rem !important;}
.pb-md {padding-bottom: 5rem !important;}
%pl-md {padding-left: 5rem !important;}
%pr-md {padding-right: 5rem !important;}

%pt-lg {padding-top: 7.5rem !important;}
.pb-lg {padding-bottom: 7.5rem !important;}
%pl-lg {padding-left: 7.5rem !important;}
%pr-lg {padding-right: 7.5rem !important;}

%pt-xlg {padding-top: 10rem !important;}
%pb-xlg {padding-bottom: 10rem !important;}
%pl-xlg {padding-left: 10rem !important;}
%pr-xlg {padding-right: 10rem !important;}

// Effects for links
%infolinks {
    text-decoration: none;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    padding-bottom: 2px;
}

// Text Shadow
%textshadow {
    text-shadow: 2px 2px $color-black-light;
}
// Box Shadow
%boxShadowBlack {
    box-shadow: 1px 1px 2px $color-black, 0 0 25px $color-home-grey;
}

// Box Shadow
%boxShadowWhite {
    box-shadow: 1px 1px 2px $color-black, 0 0 25px $color-home-white;
}

// Text Align
%alignCenter {text-align: center;}
.alignCenter {text-align: center;}
.alignLeft {text-align: left;}


// Flex Column
%FlexCol {
    display: flex;
    flex-direction: column;
}

// Header Height
%BigScreenHeight {
    @media only screen and (min-width: $bp-tablet) {
        height: 56rem;
    }
}

%SmallScreenHeight {
    @media only screen and (max-width: $bp-tablet) {
        height: 42rem;
    }
}