.smooth {
    // Email Form Section
    &__container-form-email-signup {
        text-align: center; 
        background-color: #fff; 
        
        @media only screen and (min-width: $bp-tablet-land) {
            margin:  4% 23% 5% 23%;
		    padding: 2% 4% 4% 4%;
        }

        @media only screen and (max-width: $bp-tablet-land) {
            margin:  6% 8% 16% 8%;
		    padding: 7% 8% 8% 8%;
        }

        &__flex-row {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            @media only screen and (min-width: $bp-tablet) {
                flex-direction: row;

                #email-address { flex: 1; margin: 0 3rem; }
            }
    
            @media only screen and (max-width: $bp-tablet) {
                flex-direction: column; 
                padding:  12% 8%;

                label {
                    margin-top: 1.2rem;
                }

                #email-address {
                    margin: 0;
                }
            }
        }

        label, input, #btn-submit {
            font-size: 1.6rem;
            display: inline-block;
            border-radius: 5px;
        }

        label, #btn-submit {
            font-weight: bold;
        }

        input, #btn-submit {
            padding: 1.2rem 2rem;
        }

        &::placeholder {
            font-size: 96%;
        }

        label {
            padding: 1.4rem 0;
            font-family: sans-serif;
            font-size: 1.8rem !important;

            @media only screen and (max-width: $bp-tablet) {
                padding-bottom: 1.4rem;
            }
        }

        input {
            background-color: #f0f0f0;
            padding: 1rem 1.2rem;
            border: 2px solid $color-smooth-red;

            &:focus {
                background-color: #fff;
            }

            @media only screen and (max-width: $bp-tablet) {
                margin-bottom: 2.4rem;
            }
        }

        #btn-submit {
            color: #fff;
	        border: none;
	        padding: 1.2rem 2.2rem;
	        background-color: $color-smooth-red;
            border-radius: 50px;
            cursor: pointer;
            
            &:focus, 
            &:hover { background-color: $color-smooth-purple-dark;}

            i { margin-left: 8px;}

            @media only screen and (max-width: $bp-tablet) {
                margin: 3rem auto 0 auto;
                width: 80%;
            }
        }

        @media only screen and (min-width: $bp-tablet) {
            #email-address { flex: 1; margin: 0 3rem; }
        }

        @media only screen and (max-width: $bp-tablet) {
            label {
                margin-top: 1.2rem;
            }

            #email-address {
                margin: 0;
            }
        }
    }
}