/* Section background colors */
.bg-watermelon { background-color: $color-smooth-pink; }
.bg-apple      { background-color: $color-smooth-green; }
.bg-blueberry  { background-color: $color-smooth-purple; }
.bg-lemon      { background-color: $color-smooth-yellow; }

body { font-family: $font-smooth; }
img { width: 100%; display: block; }

.smooth {
    // Hero block general properties
    &__container-hero {
        display: flex;
	    flex-direction: column;
	    justify-content: center;
	    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.2)),	url('../projects/smooth/img/smoothie-hero-image.jpg');  
	    background-position: center center;
	    background-size: cover;
        background-repeat: no-repeat;

        @media only screen and (min-width: $bp-tablet) {
            height: 52rem;
        }

        @media only screen and (max-width: $bp-tablet) {
            height: 36rem;
        }

        // Heading and sub-heading
        h1, h2 {
            text-align: center;
            color: #fff;
            text-shadow: 2px 2px #222;
        }

        h1 {
            font-size: calc(58px + (132 - 58) * ((100vw - 320px)/(1600 - 320)));
            line-height: 1.1;
            
            @media only screen and (min-width: $bp-tablet) {
                margin-bottom: 1%;
            }

            @media only screen and (max-width: $bp-tablet) {
                margin-bottom: 5%;
            }
        }

        h2 {
            font-size: calc(26px + (64 - 26) * ((100vw - 320px)/(1600 - 320)));
        }
    }


    &__container-block {

        @media only screen and (min-width: $bp-tablet) {
            padding: 4% 12% 4% 12%;
        }

        @media only screen and (max-width: $bp-tablet) {
            padding:  12% 8% 12% 8%;
        }

        h2 {
            font-size: calc(26px + (54 - 26) * ((100vw - 320px) / (1600 - 320))); 
	        color: $color-smooth-purple-dark;
	        line-height: 1.6;
	        text-align: center;
        }
    }

    &__container-flexbox {
        display: flex; 
	    justify-content: space-between; 
        flex-wrap: wrap;
        
        &__item-col-2 {

            h3 {
                font-size: calc(32px + (64 - 32) * ((100vw - 320px) / (1600 - 320))); 
                color: $color-smooth-red;
                line-height: 1.2;
                letter-spacing: 2px;
                margin-bottom: 4px;
            }

            p {
                font-size: calc(16px + (24 - 16) * ((100vw - 320px) / (1600 - 320))); 
	            color: $color-smooth-blue;
	            line-height: 1.6;
                letter-spacing: 1px;
            }

            .light {
                color: #fff;
            }

            // Desktops: 2 columns
            @media only screen and (min-width: $bp-tablet) {
                width: 47%;
            }
    
            // Mobiles: 1 column
            @media only screen and (max-width: $bp-tablet) {
                width: 100%;

                h3, p, img { text-align: center;}
                img {margin-bottom: 1.4rem; margin-top: 1.4rem;}

                // Mobiles: Re-order columns inside first and third flexbox parent containers
                &:nth-child(1) {order: 2; }
                &:nth-child(2) {order: 1; }
                &:nth-child(3) {order: 2; }
                &:nth-child(4) {order: 1; }
            }
        }
    }

    &__container-form-email-signup {
        text-align: center; 
        background-color: #fff; 
        
        @media only screen and (min-width: $bp-tablet-land) {
            margin:  4% 23% 5% 23%;
		    padding: 2% 4% 4% 4%;
        }

        @media only screen and (max-width: $bp-tablet-land) {
            margin:  6% 8% 16% 8%;
		    padding: 7% 8% 8% 8%;
        }

        h3 {
            font-weight: bold; 
	        color: $color-smooth-purple-dark;
	        line-height: 1.2;
	        margin-bottom: 3%;
	        font-size: calc(32px + (84 - 32) * ((100vw - 320px) / (1600 - 320))); 
        }

        p {
            font-weight: normal;
	        color: $color-smooth-purple-dark;
            line-height: 1.5;
            margin-bottom: 7%;    
	        font-size: calc(20px + (32 - 20) * ((100vw - 320px) / (1600 - 320))); 
        }

        &__flex-row {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            @media only screen and (min-width: $bp-tablet) {
                flex-direction: row;

                #email-address { flex: 1; margin: 0 3rem; }
            }
    
            @media only screen and (max-width: $bp-tablet) {
                flex-direction: column; 
                padding:  12% 8%;

                label {
                    margin-top: 1.2rem;
                }

                #email-address {
                    margin: 0;
                }
            }
        }

        label, input, #btn-submit {
            font-size: 1.6rem;
            display: inline-block;
            border-radius: 5px;
        }

        label, #btn-submit {
            font-weight: bold;
        }

        input, #btn-submit {
            padding: 1.2rem 2rem;
        }

        &::placeholder {
            font-size: 96%;
        }

        label {
            padding: 1.4rem 0;
            font-family: sans-serif;
            font-size: 1.8rem !important;

            @media only screen and (max-width: $bp-tablet) {
                padding-bottom: 1.4rem;
            }
        }

        input {
            background-color: #f0f0f0;
            padding: 1rem 1.2rem;
            border: 2px solid $color-smooth-red;

            &:focus {
                background-color: #fff;
            }

            @media only screen and (max-width: $bp-tablet) {
                margin-bottom: 2.4rem;
            }
        }

        #btn-submit {
            color: #fff;
	        border: none;
	        padding: 1.2rem 2.2rem;
	        background-color: $color-smooth-red;
            border-radius: 50px;
            
            &:focus, 
            &:hover { background-color: $color-smooth-purple-dark;}

            i { margin-left: 8px;}

            @media only screen and (max-width: $bp-tablet) {
                margin: 3rem auto 0 auto;
                width: 80%;
            }
        }

        @media only screen and (min-width: $bp-tablet) {
            #email-address { flex: 1; margin: 0 3rem; }
        }

        @media only screen and (max-width: $bp-tablet) {
            label {
                margin-top: 1.2rem;
            }

            #email-address {
                margin: 0;
            }
        }
    }

    &__footer {
        display: flex;
	    justify-content: space-between;
        flex-wrap: wrap;
        background-color:$color-smooth-red;
        color: #fff;

        @media only screen and (min-width: $bp-tablet) {
            padding: 3% 8%;
        }

        @media only screen and (max-width: $bp-tablet-land) {
		    padding: 12% 8% 1% 8%;
        }

        &__item {

            @media only screen and (min-width: $bp-tablet) {
                &:nth-child(1) {width: 20%;}
                &:nth-child(2) {width: 50%;}
                &:nth-child(3) {width: 20%;}
            }
    
            @media only screen and (max-width: $bp-tablet) {
                width: 100%;
                margin-bottom: 10%;

                &:nth-child(2) {order: 1;}
                &:nth-child(1) {order: 2;}
                &:nth-child(3) {order: 3;}
            }

            h4 {
                font-weight: 400;
                margin-bottom: 1.2rem;
                font-size: calc(22px + (26 - 22) * ((100vw - 320px)/(1600 - 320)));
                letter-spacing: 1px;
            }

            &__text {
                font-weight: normal;
                margin-bottom: 1.2rem;
                font-size: calc(17px + (22 - 17) * ((100vw - 320px)/(1600 - 320)));
                line-height: 1.6;
                letter-spacing: 1px;

                i {
                    padding-right: 3.2rem;
                }
            }

            &__link {
                text-decoration: none;
                border-bottom: 2px solid;
                padding-bottom: 2px;
                cursor: pointer;

                &:link,
                &:visited {
                    border-bottom-color: transparent;
                    color: #fff;
                }

                &:hover,
                &:active {border-bottom-color: #fff;}
            }

            &__media {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;

                margin-top: 2rem;
                
                a {
                    font-size: 2.8rem;
                    color: #000;
                }

            }
        }
    }
}