.smooth {
    // Main Header properties
    &__header {
        display: flex;
	    flex-direction: column;
	    justify-content: center;
	    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.2)),	url('../projects/smooth/img/smoothie-hero-image.jpg');  
	    background-position: center center;
	    background-size: cover;
        background-repeat: no-repeat;

        @media only screen and (min-width: $bp-tablet) {
            height: 52rem;
        }

        @media only screen and (max-width: $bp-tablet) {
            height: 36rem;
        }
    }

    // Subheading introduction/description section
    &__introduction,
    &__description {
        @media only screen and (min-width: $bp-tablet) {
            padding: 4% 12% 4% 12%;
        }

        @media only screen and (max-width: $bp-tablet) {
            padding:  12% 8% 12% 8%;
        }

        &__img {margin-bottom: 2.4rem; margin-top: 2.4rem;}
    }

    // Description 2 column flexbox container
    &__container-flexbox {
        display: flex; 
	    justify-content: space-between; 
        flex-wrap: wrap;
        
        &__item-col-2 {
            // Desktops: 2 columns
            @media only screen and (min-width: $bp-tablet) {
                width: 47%;
            }
    
            // Mobiles: 1 column
            @media only screen and (max-width: $bp-tablet) {
                width: 100%;
            }
        }
    }

    // Smoothies Section
    &__smoothies {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 3rem;
        justify-content: center;

        padding: 3rem;

        max-width: 114.9rem;
        margin: 10rem auto;

        // Smoothies Cards
        &__card {           
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            justify-self: center;

            border: 1px solid #222;
            background-color: rgba(#222, .8);

            margin-bottom: 4rem;

            &__img {
                width: 100%;
                grid-column: 1 / -1;
                grid-row: 1 / -1;

                object-fit: cover;
                display: block;
            }

            .heading-4 {
                width: 80%;
                grid-column: 1 / -1;
                grid-row: 1 / -1;
                justify-self: center;
                align-self: flex-end;
                transform: translateY(50%);

                cursor: pointer;
        
                font-size: 3.5rem;
                background-color: rgba(#fff, 0.5);
                border: 2px solid $color-smooth-red;
                border-radius: 5px;
                padding: 1.6rem;
                text-align: center;
            }
        }
    }


    // Our fruits Section
    &__fruits {
        background-image: linear-gradient(rgba($color-smooth-black, .2), rgba($color-smooth-black, 0.8)), url(../projects/smooth/img/fruits.jpg);
        background-position: center;
        background-size: cover;
        height: 50rem;
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center; 

        &__btn {
            font-size: 1.8rem;
            display: block;
            font-weight: bold;
            border: 2px solid $color-smooth-red;
            border-radius: 5px;
            margin: 0 auto;
            margin-top: 1.4rem;
            padding: 1.6rem;
            color: $color-smooth-red;
    
            cursor: pointer;
    
            &:hover {
                background-color: $color-smooth-red;
                color: $color-smooth-white;
            }
    
            i {
                margin-left: 1.2rem;
            }
        }
    }
}