%main-heading {
    text-align: center;
    color: $color-smooth-white;
    text-shadow: 2px 2px $color-smooth-black;
} 

%align-center {text-align: center;}

.smooth {
    &__heading-1 {
        font-size: calc(58px + (132 - 58) * ((100vw - 320px)/(1600 - 320)));
        line-height: 1.1;
        @extend %main-heading; 
            
        @media only screen and (min-width: $bp-tablet) {
            margin-bottom: 1%;
        }

        @media only screen and (max-width: $bp-tablet) {
            margin-bottom: 5%;
        }
    }

    &__heading-2 {
        font-size: calc(26px + (64 - 26) * ((100vw - 320px)/(1600 - 320)));
        @extend %main-heading;

        &--dark {
            color: $color-smooth-purple-dark !important;
            line-height: 1.6;
            @extend %align-center;
            text-shadow: none !important;
            font-size: calc(26px + (54 - 26) * ((100vw - 320px) / (1600 - 320))); 
        }
    }

    &__heading-3 {
        font-size: calc(32px + (64 - 32) * ((100vw - 320px) / (1600 - 320))); 
        line-height: 1.2;
        letter-spacing: 2px;
        margin-bottom: 3%;
        @extend %align-center;
        color: $color-smooth-white;
        
        &--red {
            color: $color-smooth-red;
        }

        &--form {
            font-weight: bold;
            color: $color-smooth-purple-dark;
        }

    }

    &__heading-4 {
        font-size: calc(26px + (32 - 26) * ((100vw - 320px) / (1600 - 320)));
        @extend %align-center;
        color: $color-smooth-white;

        // ========== FRUITS INFORMATION HEADING 4 STYLES
        &--delight {
            border-bottom: 2px solid $color-smooth-red;
            display: inline-block;
            margin: 0 auto;
            margin-bottom: 2rem;
        }
    }

    &__text {
        font-size: calc(16px + (24 - 16) * ((100vw - 320px) / (1600 - 320))); 
	    color: $color-smooth-blue;
	    line-height: 1.6;
        letter-spacing: 1px;
        @extend %align-center;

        &--light {
            color: $color-smooth-white;
        }

        &--form {
            color: $color-smooth-purple-dark;
            margin-bottom: 7%;    
	        font-size: calc(20px + (32 - 20) * ((100vw - 320px) / (1600 - 320))); 
        }
    }
}