// Left side links style in Overview section
.professional-links {
	position: absolute;
	left: 0%;
	top: 50%;
	transform: translate(0, -50%);

	display: flex;
	flex-direction: column;

	@media only screen and (max-width: $bp-tablet) {
		// top: initial;
		// bottom: 0;
		// left: 50%;
		// transform: translate(-50%, 0);
		// flex-direction: row;
		display: none;
	}

	&__button {
		width: 3rem;
		height: 5rem;
	}

	&__link {
		width: 3rem;
		height: 5rem;
		color: $color-white;
		text-decoration: none;
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;

		&:hover {
			width: 5rem;
		}

		@media only screen and (max-width: $bp-tablet) {
			&:hover {
				width: inherit;
			}
		}

		.fab {
			font-size: 1.5rem;
		}
	}

	&--linkedin {
		background-color: $color-blue-dark;
	}

	&--github {
		background-color: $color-black;
	}

	&--spotify {
		background-color: $color-software-green;
	}

	&--gallery {
		background-color: $color-web-pink;
	}
}

// Flex Column for Project main section
.projects {
	@extend %FlexCol;

	article:nth-child(3),
	article:nth-child(5) {
		@include borderClipPath2($color-home-grey);

		.project-image {
			border: 3px solid $color-home-grey;
			&:hover {
				@extend %boxShadowBlack;
			}
		}
	}

	article:nth-child(2),
	article:nth-child(4) {
		@include borderClipPath($color-home-white);
		background-color: $color-home-grey;

		.project-image {
			border: 3px solid $color-home-white;
			&:hover {
				@extend %boxShadowWhite;
			}
		}
	}

	article:nth-child(5) {
		@media only screen and (max-width: $bp-tablet) {
			div:nth-child(1) {
				order: 2;
			}
			div:nth-child(2) {
				order: 1;
			}
		}
	}
}

// Flex Center style for the div containers in Project section
.flex-center {
	@include FlexColCenter;
	align-items: center;
}

// Few effects for the Project images
.project-image {
	cursor: pointer;
	transition: all 500ms ease-out;

	&--block {
		@media only screen and (max-width: $bp-tablet) {
			display: none;
		}
	}

	&--hidden {
		display: none;

		@media only screen and (max-width: $bp-tablet) {
			display: block;
		}
	}

	&:hover {
		transform: translateY(-3px);
	}
}

// Style and hover effects for the Project buttons
.project-btn {
	@include fluid-font(16px, 32px);
	font-family: $font-home;
	position: relative;

	text-decoration: none;
	border-radius: 3px;
	padding: 1rem;
	margin: 3rem 0;
	text-align: center;
	transition: all 0.3s ease-in;

	display: inline-block;
	text-align: center;

	@include borderCornerDouble($color-home-red, 2px);

	&--light {
		@include fillColorEffect($color-home-white, $color-home-red);
	}

	&--dark {
		@include fillColorEffect($color-home-grey, $color-home-red);
	}

	&:hover {
		background-position: 0 100%;
	}
}

.tech {
	margin: 15rem 0;

	&__image {
		height: 15rem;
		max-height: 20rem;
		padding-bottom: 1rem;
		cursor: pointer;
		object-fit: fit;

		transition: transform 100ms ease;
		&:hover {
			transform: translateY(-5px);
		}

		@media only screen and (max-width: $bp-phone) {
			margin-bottom: 2rem;
		}
	}

	.col-3 {
		display: flex;
		justify-content: space-evenly;

		@media only screen and (max-width: $bp-phone) {
			flex-direction: column;
		}
	}

	&__modal {
		// background: linear-gradient(
		// 	230deg,
		// 	rgba($color-home-grey, 0.8),
		// 	rgba($color-home-white, 1),
		// 	rgba($color-home-red, 0.8)
		// );
		background-color: $color-black-light;
		height: 100vh;
		width: 100%;

		position: fixed;
		top: 0;
		left: 0;

		z-index: 8000;

		@include FlexColCenter;
		align-items: center;

		display: none;

		&__overlay {
			background-color: transparent;
			backdrop-filter: blur(5px);
			-webkit-backdrop-filter: blur(25px);
			height: 100vh;
			width: 100%;
			z-index: 8001;
			cursor: pointer;
		}

		&__window {
			padding: 2rem 0;
			width: 75%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			position: absolute;
			z-index: 9500;

			display: none;

			@include borderCornerDouble($color-home-white, 5px);

			pointer-events: none;

			&--html {
				background: linear-gradient(
					90deg,
					rgba(228, 77, 38, 0.6),
					rgba(255, 145, 108, 0.6)
				);
				z-index: 9600;
			}

			&--css {
				background: linear-gradient(
					90deg,
					rgba(17, 114, 183, 0.6),
					rgba(51, 170, 221, 0.6)
				);
				z-index: 9600;
			}

			&--sass {
				background: linear-gradient(
					90deg,
					rgba(207, 100, 154, 0.6),
					rgba(226, 21, 124, 0.6)
				);
				z-index: 9600;
			}

			&--javascript {
				background: linear-gradient(
					90deg,
					rgba(211, 183, 61, 0.6),
					rgba(252, 215, 73, 0.6)
				);
				z-index: 9600;
			}

			&__list {
				display: flex;
				flex-direction: column;
				justify-content: space-evenly;
				height: 100%;
				width: 100%;

				list-style-type: upper-roman;
				list-style-position: inside;

				padding: 0 2rem;
				overflow: scroll;
			}

			&__item {
				cursor: pointer;
				@include fluid-font(10px, 25px);
				height: 100%;
				width: 100%;
				font-family: $font-web-agency;
				letter-spacing: 1.7px;
				line-height: 1.7;
				margin: 1.2rem 0;
			}
		}

		.heading-4 {
			@include fluid-font(32px, 64px);
			z-index: 9997;
			text-align: center;
			font-family: $font-home;
		}
	}

	.show {
		display: block;
	}
}

.contact {
	background-color: $color-black-dark;
	padding: 3rem 0 7rem;
	position: relative;

	.text__home {
		margin: 0 2rem;
	}

	&__form {
		@include FlexColCenter;
		align-self: center;
		padding: 1rem;
		width: 100%;

		&__container {
			display: flex;
			margin: 0 auto;
			max-width: 850px;
			width: 80%;
		}

		&__input,
		&__textarea {
			@extend %alignCenter;
			color: $color-home-grey;
		}

		&__input,
		&__submit {
			@include fluid-font(15px, 30px);
		}

		&__input,
		&__textarea,
		&__submit {
			border-radius: 5px;
			margin: 2rem auto;
			font-family: $font-web-agency;
			border: none;
		}

		&__input {
			padding: 0.5rem;
		}

		&__input:nth-child(1) {
			width: 40%;
			margin-right: 1rem;
		}

		&__input:nth-child(2) {
			width: 60%;
		}

		&__textarea {
			height: 200px;
			width: 70%;
			max-width: 100rem;
			@include fluid-font(18px, 36px);
			padding: 2rem 0;
		}

		&__submit {
			display: inline-block;
			cursor: pointer;

			font-family: $font-home;
			padding: 1.1rem;
			background-color: $color-home-red;

			&:active {
				background-color: $color-home-white;
			}
		}

		&::placeholder {
			font-family: $font-web-agency;
		}
	}
}
